
.corpo{
    width: 100%;
    margin: auto;
    background: #345ca2
}
.conteudo{
    display: table;
}

.imagem{
    display: table-cell;
    float: left;
}

.fundo{
    position:relative;
    top:0px;
    left:0px;
}

.im1{
    position:absolute; 
    top:450px;
    left:100px; 
} 


.im2{
    position:absolute; 
    top:450px;
    left: 920px; 
}

.im3{
    position:absolute; 
    top:450px;
    right: 100px; 
}

.texto{
    color: #ffffff;
    display: table-cell;
    float: left;
    width: 300px;
    margin-left: 20px;
    font-size: 20px
}

.botao {
  display: inline-block;
  border-radius: 12px;
  background-color: #243f6e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px

}

.botao span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botao span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botao:hover span {
  padding-right: 25px;
}

.botao:hover span:after {
  opacity: 1;
  right: 0;
}
