<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="static/css/professor.css">
    <link type="text/css" rel="stylesheet" href="static/css/normalize.css">
    <title>Error College</title>       
</head>
<body>
        <nav id="menu">
                <ul type="disc">
                        <li><a  class="active" id="menu" href="index.html">Home</a></li>
                        <li><a id="menu" href="sobre.html">Sobre</a><li></li>
                        <li><a id="est" href="inscricao.html">Estude Conosco</a><li>
                        <li><a id="menu" href="professor.html">Professor</a><li>
                        <li><a id="menu" href="aluno.html">Aluno</a><li>
                    
                </ul>
            </nav>
    <div class="LogIn">
        <img src="img/avatar.jpg" class="user">
        <h2>Área de Acesso</h2>
        <form>
            <p>Usuário</p>
            <input type="text" name="n_completo" placeholder="Usuário" id="id" required><br/>
            <p>Senha</p>
        <input type="password" name="senha" placeholder="•••••••••" id="senha" maxlength="10" required><br/>
        <input type="submit" name"botão" value="Entrar">
        <a href="#">Esqueci minha senha</a>
        </form> 
    </div>
</body>
</html>
